@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager
@inject UserManager<IdentityUser> userManager


@model Bloggie.Web.Models.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="container col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-5 py-5">
        <div class="col-12 col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">
                CodeGalaxy: Your Tech Universe
            </h1>
            <p class="lead">
                Discover the vast universe of technology at CodeGalaxy.
                From HTML, CSS, and JavaScript to ASP.NET, Java, C#, Angular, and more,
                we're your portal to the latest in tech innovation. Embark on a journey
                through the cosmos of coding and explore new frontiers in the digital universe.
            </p>
            @if (signInManager.IsSignedIn(User))
            {
                <a class="btn btn-outline-dark me-3" asp-area="" asp-controller="Home" asp-action="Index">Explore More</a>
            }
            else
            {
                <a class="btn btn-outline-dark me-3" asp-area="" asp-controller="Account" asp-action="Register">Explore More</a>
            }
        </div>

        <img src="https://images.pexels.com/photos/3459979/pexels-photo-3459979.jpeg?auto=compress&cs=tinysrgb&w=600"
             alt="CodeGalaxy - Your Tech Universe"
             class="d-block mx-lg-auto img-fluid"
             style="max-width: 400px; max-height: 300px;" />
    </div>
</div>


<div class="container">
    <div class="row">
        @if (Model != null && Model.BlogPosts.Any())
        {
            var recentBlogPosts = Model.BlogPosts.OrderByDescending(post => post.PublishedDate);

            @foreach (var blogPost in recentBlogPosts)
            {
                <div class="col-md-6">
                    <div class="blog-post-wrapper">
                        <div class="mb-5 bg-light box-shadow p-5 blog-post">
                            <img src="@blogPost.FeaturedImageUrl"
                                 alt="@blogPost.Heading" class="mb-2 d-block img-fluid" />
                            <h2 class="mb-4">@blogPost.Heading</h2>
                            <p class="mb-4">
                                Author: @blogPost.Author
                                <br />
                                Published Date: @blogPost.PublishedDate.ToShortDateString()
                            </p>

                            <p class="mb-4">
                                @foreach (var tag in blogPost.Tags)
                                {
                                    <span class="badge bg-secondary me-1">@tag.Name</span>
                                }
                            </p>

                            <p class="mb-4">@blogPost.ShortDescription</p>
                            <a class="btn btn-dark"
                               asp-area=""
                               asp-controller="Blogs"
                               asp-action="Index"
                               asp-route-urlHandle="@blogPost.UrlHandle">Read More</a>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>







